<table class = "table">
	 	<tr>
	 		<th>
	 			Name
	 		</th>
	 		<th>
	 			Department
	 		</th>
	 		<th>
	 			Action
	 		</th>
	 	</tr>
	 	<% @users.each do |user| %>
		 	<% @department = user.department%>
		 	<% @current_department = current_user.department %>
		 	<% if logged_in?(:manager)%>
				<% if @current_department == @department%>
					<tr>
			 			<td>
			 				<%=user.name%>
			 			</td>
			 			<td>
			 				<%= @department.dept_name%>	 				
			 			</td>
			 			<td>
			 				<%=link_to "View", custom_user_path(user)%>
			 			</td>
	 				</tr>
				<%end%>
			<% else%>
				<tr>
		 			<td>
		 				<%=user.name%>
		 			</td>
		 			<td>
		 				<%= @department.dept_name%>	 				
		 			</td>
		 			<td>
		 				<%=link_to "View", custom_user_path(user)%>
		 			</td>
 				</tr>
			<%end%>
	 	<%end%>
	 </table>