<div class="container-fluid container-fixed-lg bg-white">
	<div class="card card-transparent">
		<div class="card-header ">
            <div class="card-title">Here's a list of users</div>
      	</div>
      	<div class="card-block">
      		<div class="table-responsive">
      			<div id="basicTable_wrapper" class="dataTables_wrapper no-footer">
      				<table class="table table-hover dataTable no-footer" id="basicTable" role="grid">
                    	<thead>
                      		<tr role="row">
                        		<th  class="sorting_asc" tabindex="0" aria-controls="basicTable" rowspan="1" colspan="1" aria-label="Title: activate to sort column descending" aria-sort="ascending">Name</th>
                        		<th  class="sorting" tabindex="0" aria-controls="basicTable" rowspan="1" colspan="1" aria-label="Places: activate to sort column ascending">Department</th>
                        		<th  class="sorting" tabindex="0" aria-controls="basicTable" rowspan="1" colspan="1" aria-label="Activities: activate to sort column ascending">Actions</th>
                    		</tr>
                    	</thead>
                    	<tbody>
                      		<% @users.each do |user| %>
							 	<% @department = user.department%>
							 	<% @current_department = current_user.department %>
							 	<% if logged_in?(:manager)%>
									<% if @current_department == @department%>
										<tr role="row">
								 			<td style="width: 144px;" class="v-align-middle">
								d 				<%=user.name%>
								 			</td>
								 			<td style="width: 146px;" class="v-align-middle">
								 				<%= @department.dept_name%>	 				
								 			</td>
								 			<td "width: 228px;" class="v-align-middle">
								 				<%=link_to "View", custom_user_path(user)%>
								 			</td>
						 				</tr>
									<%end%>
								<%else%>
									<tr role="row">
							 			<td class="v-align-middle">
							 				<%=user.name%>
							 			</td>
							 			<td class="v-align-middle">
							 				<%= @department.dept_name%>	 				
							 			</td>
							 			<td class="v-align-middle">
							 				<%=link_to "View", custom_user_path(user)%>
							 			</td>
										</tr>
								<%end%>
 							<%end%>
 						</tbody>
 					</table>
 				</div>                    
      		</div>
      	</div>
  	</div>
</div>

<table class = "table">
 	<% @users.each do |user| %>
	 	<% @department = user.department%>
	 	<% @current_department = current_user.department %>
	 	<% if logged_in?(:manager)%>
			<% if @current_department == @department%>
				<tr role="row">
		 			<td class="v-align-middle">
		 				<%=user.name%>
		 			</td>
		 			<td class="v-align-middle">
		 				<%= @department.dept_name%>	 				
		 			</td>
		 			<td class="v-align-middle">
		 				<%=link_to "View", custom_user_path(user)%>
		 			</td>
 				</tr>
			<%end%>
		<% else%>
			<tr role="row">
	 			<td class="v-align-middle">
	 				<%=user.name%>
	 			</td>
	 			<td class="v-align-middle">
	 				<%= @department.dept_name%>	 				
	 			</td>
	 			<td class="v-align-middle">
	 				<%=link_to "View", custom_user_path(user)%>
	 			</td>
				</tr>
		<%end%>
 	<%end%>
</table>