<h1>Welcome, <%=current_user.name%>!</h1>
<% if logged_in?(:admin, :manager)%>
	<b>Note: Our systems have detected that you are an admin. You can 
	<%= link_to "view all users", custom_users_path%> here.</b>
<%end%><br>
<br>
<%if(@plan.present?) %>
	<%=form_for(@plan) do |f|%>
		<div class = "form-group">
			<%=f.label "Edit/write down what you achieved today"%>
			<%=f.text_field :accomplishment, class: "form-control"%>
		</div>
	 	<%=f.submit :Submit, class: "btn btn-primary"%>
	<%end%>
<%else%>
	<%=form_for(:plan, url: plans_path) do |f| %>
		<div class = "form-group">
			<%=f.label "What do you plan to learn today?"%>
			<%=f.text_field :ambition, class: "form-control"%>
		</div>
		
		<%=f.submit :Submit, class: "btn btn-primary"%>
	<%end%>
<%end%>
<br>
<p>
	<h3>Here's what your history looks like</h3>
</p>
<table class = "table">
	<tr>
		<th>
			Date
		</th>
		<th>
			Plan
		</th>
		<th>
			Accomplishment
		</th>
	</tr>
	<% @plans.each do |plan| %>
		<tr>
			<td>
				<%=plan.date%>
			</td>
			<td>
				<%=plan.ambition%>
			</td>
			<td>
				<%=plan.accomplishment%>
			</td>
		</tr>
	<%end%>
</table>
