<h1>Welcome, <%=current_user.name%>!</h1>

<%=display_forms%>

Don't forget to update what you learnt today, before signing out!
<table class = "table">
	<tr>
		<th>
			Date
		</th>
		<th>
			Plan
		</th>
		<th>
			Accomplishment
		</th>
	</tr>
	<% @plans.each do |plan| %>
		<tr>
			<td>
				<%=plan.date%>
			</td>
			<td>
				<%=plan.ambition%>
			</td>
			<td>
				<%=plan.accomplishment%>
			</td>
		</tr>
	<%end%>
</table>
<%= link_to "View all users", custom_users_path%> 

