<h1>Welcome, <%=current_user.name%>!</h1>

<%=show_users_path_if_admin%>
<%if current_time_exceeds_threshold %>
	Check off the things you accomplished today. Don't worry, there's always tomorrow for plans you couldn't achieve today!
	<% if(@plans_for_today.present?)%>
		<% @plans_for_today.each do |plan|%>
			<%if plan.checkbox == false%>
				<br>
				<input type="checkbox" id="checkbox-users-show" onclick="sendCheckRequest(<%=plan.id%>)">
				<%=plan.ambition%>
			<%end%>
		<%end%>
	<%end%>
<%else%>
	<%=form_for(:plan, url: plans_path) do |f| %>
		<div class = "form-group">
			<%=f.label "What do you plan to learn today? (You can add plans till 6 pm today)"%>
			<%=f.text_area :ambition, id: "ambition-form-field", class: "form-control"%>
		</div>
		<p style="color:#f44336">
			<%=18-Time.now.hour%> hour(s) left to achieve your goals!
		</p>
		<%=f.submit "Add Plan", class: "btn btn-primary"%>
	<%end%>
<%end%>
<br>

<p>
	<h3>Here's what your history looks like</h3>
</p>
<table class = "table">
	<tr>
		<th>
			Date
		</th>
		<th>
			Plan
		</th>
		<th>
			Accomplishment
		</th>
	</tr>
	<% @dates.each do |date| %>
		<tr >
			<td>
				<%=date%>
			</td>
			<td>
				<%@plans.where(date: date).each do |plan|%> 
					<%=plan.ambition%> <br>
				<%end%>
			</td>
			<td>
				<%if (date == Time.now.strftime("%d/%m/%Y") && current_time_exceeds_threshold) ||
					 date != Time.now.strftime("%d/%m/%Y") %>
					<%@plans.where(date: date).each do |plan|%> 
						<%if(plan.checkbox == true)%>
							<s><%=plan.ambition%></s> <br>
						<%else%>
							<%=plan.ambition%> <br>
						<%end%>	
					<%end%>
				<%end%>
			</td>
		</tr>
	<%end%>
</table>
<script type="text/javascript">
	function sendCheckRequest(planId){
		$.ajax({
			url: '../insert_checkbox',
			type: "GET",
			data: {'plan_id': planId},
			dataType: "json",
			success: function(data){
				console.log("Success");
			},
			error: function(data){
				console.log("Failure. Debug sendCheckRequest.");
			}
	});
		location.reload();
}
</script>