<!DOCTYPE html>
<html>
  <head>
    <title>Avalog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<div id="banner">
  		<%=link_to "Avalog Home", root_path, class: 'generic-button', id: 'button-home'%>
  		<div id="banner-user-info">
  			<% if user_signed_in? %>
				Logged in as <strong><%= current_user.email %></strong>.
				<%= link_to 'Edit profile', edit_user_registration_path, :class => 'generic-button', id: 'edit-button' %>
				<%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'generic-button', id: 'logout-button'  %>
			<%end%>
  		</div>		
  	</div>
  	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>

	<div class = "container">
		<%= yield %>
	</div>
  </body>
</html>
